{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-body-emphasis">Upcoming tasks</h1>
    <div class="container py-3">
        <div class="row g-5">
            <ul>
                {% for i in items %}
                    <li class="mb-2"><a href="{{ path('app_todo_view', {'item': i.id}) }}">{{ i.title }} (due by {{ i.dueBy | date }})</a></li>
                {% else %}
                    <li><i>Nothing scheduled!</i></li>
                {% endfor %}
            </ul>
        </div>
        <div class="mb-1 py-4">
            <a href="{{ path('app_todo_new') }}" class="btn btn-primary btn-lg px-4">Add new item</a>
        </div>
    </div>
{% endblock %}
