{% extends 'base.html.twig' %}

{% block title %}New Item{% endblock %}

{% block body %}
<div>
    <h1>What needs doing?</h1>

    <div class="container py-3">
        {{ form(form) }}
    </div>
</div>
{% endblock %}
